body
{
    margin: 0;
}

#navigation
{
	padding: 0;
  margin: 3;
  text-align:center;
  text-decoration: underline;
  text-decoration-color: black;
}

#navigation li
{
  color: #d0a81d;
  display: inline;
	list-style: none;
  padding: 30px;
  font-family: Roboto;
}

.fond
{
  color: #ffffff;
  padding: 30px;
  font-style: Arial;
  background-color:#252734
}

h2
{
    color : rgb(255, 156, 0);
    font-family: Roboto;

}

h1
{
    color: #ffffff;
    font-size: 50;

}


.texte
{
    padding-top: 40px;
    margin-top: 0;
    font-family: Roboto;
}

#phrase
{
    font-style: Arial;
    background-color: rgba(35, 4, 35, 0.459);
    width: fit-content;
}

.fond1
{
    width: 100%;
    margin-top: 0 ;
    height: 50%;
    background-color: #fffff
}

.titre2
{
  text-align: center;
}

.fond6
{
  background-color:#252734;
  color: #ffffff;

}

.margep
{
  padding: 30px;
  font-family: arial;
}


.texte6
{
  text-align: left;
  border-bottom:1px solid white;
}


.profil
{
 box-shadow : 8px 8px 5px black;
 position: absolute;
 top: 53px;
 left: 900px;

}

#projets1 li
{
  margin: 0;
  text-align:center;
  color: black;
  display: inline;
	list-style: none;
  padding: 30px;
  font-family: arial;
}

#texte6 li
{
  margin: 0;
  text-align:center;
  color: #ff9c00;
  display: inline;
	list-style: none;
  padding: 250px;
  font-family: Roboto;
  text-decoration: underline;
  text-decoration-color: white;
}

.tassimo
{
 position: absolute;
 top: 610px;
 left: 120px;

}

.winamax
{
 position: absolute;
 top: 610px;
 left: 500px;

}

.atol
{
 position: absolute;
 top: 610px;
 left: 920px;

}

.linkedin
{
 position: absolute;
 top: 150px;
 left: 300px;

}

.paragraphe2
{
  padding: 30px;
  color: #ffffff;
}

.ads
{
 position: absolute;
 top: 900px;
 left: 950px;

}

.PR
{
 position: absolute;
 top: 900px;
 left: 800px;

}

.googlea
{
 position: absolute;
 top: 1050px;
 left: 770px;

}

.ps
{
 position: absolute;
 top: 1050px;
 left: 925px;

}

.balsamiq
{
 position: absolute;
 top: 1200px;
 left: 825px;

}

.prjaune
{
 position: absolute;
 top: 320px;
 left: 470px;

}
